body{
    background-color: blanchedalmond;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
}
#qr-container{
    background-color:white;
    display:inline-block;
    padding:1rem;
}
#url{
    font-size: 14px;
    font-family:  Arial, Helvetica, sans-serif;
    margin-top: 5px;
    color:black;
    font-weight:bold;



}
.page{
    margin:0 auto;
    max-width: 400px;
    text-align: center;
    color:maroon;
}
.text{
    margin-bottom: 2.5rem;
    margin-top: .5rem;
    color: #333;
}.intro{
    text-align: left;
    margin-bottom: 2.5rem;
    margin-top: .5rem;
    color: #333;
}
.list{
    
    font-weight: 400;
    font-size: 1rem;
}
.item{
   margin:0 auto;
   margin-top:1rem;
   border-radius: 1000px;
   width:200px;
   background-color: darkblue;
   color: white;
   font-weight: 700;
   padding:1rem;
   text-align: center;
   margin-top:1rem;
   display:block;
   text-decoration: none;
   
}
.venmo{
    background-color:#3c95d2;
}

.paypal{
    background-color:#FFD140;
}

.heading{
    font-weight: 700;
    font-size: 1.5rem;
    margin:1rem 0;
}
.libre-baskerville-regular {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    }

.libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
    }

.libre-baskerville-regular-italic {
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
    }